<ul class="list-inline">
#{list items:_assay.annotations.sort(), as:'annotation' }
  <li>
  
  <div class="btn-group" style="margin-top: 10px;">
  <button type="button" 
  class="btn disabled ${annotation.isFake ? 'btn-danger' : 'btn-default'}">
  #{list items:1..annotation.confidence, as:'i'}
    <span class="fa fa-tag"></span>
  #{/list}
   ${annotation.term.label}
  </button>
  <a type="button" class="btn ${annotation.isFake ? 'btn-danger' : 'btn-default'} ${_assay.needReview ? '' : 'disabled'}" 
  href="@{Application.removeAnnotation(_assay.id, annotation.id)}">
  <span class="fa fa-times"></span>
  </a>
</div>
  </li>
#{/list}
</ul>