<div class="page-header">
  <h1>
  <a id="star" href="@{Application.star(_assay.id)}" 
  class="fa ${_assay.starred ? 'fa-star text-primary' : 'fa-star-o text-primary'} star-link">
  </a>
  #{if _assay.needReview} <span class="fa fa-flag text-danger"></span> #{/if} 
 Assay <a href="https://www.ebi.ac.uk/chembl/assay/inspect/${_assay.chemblId}" target=_BLANCK>${_assay.chemblId}</a>
  </h1>
</div>
<div class="well lead">${_assay.description}</div>

<script type="text/javascript">

var words = [${_assay.getRules().raw()}];
words.forEach(function(entry) {
    $('.well').highlight(entry);
});

$("#star").click(function(){
	$(this).addClass("fa-spin");
});

</script>