<div class="page-header">
  <h1>
  <span class="fa ${_assay.starred ? 'fa-star text-info' : 'fa-star-o text-info'}"></span>
  #{if _assay.needReview} <span class="fa fa-flag text-danger"></span> #{/if} 
  Assay ${_assay.chemblId} <small>ID: ${_assay.assayId}</small></h1>
</div>
<div class="well well-lg lead">${_assay.description}</div>

#{list items:_assay.annotations, as:'annotation' }
  <h3><span class="label label-primary">${annotation.term.baoId} - ${annotation.term.label} - ${annotation.confidence}</span></h3>
#{/list}

#{if _assay.reviewer != null}<hr><h3 class="text-success"> <span class="fa fa-eye"> ${_assay.reviewer}</span></h3> #{/if}