<hr>
<p>
  <a href="@{Application.validate(_assay.id)}" 
  class="btn btn-success btn-lg btn-block ${_assay.needReview ? '' : 'disabled'}">
  #{if _assay.needReview}
    <span class="fa fa-check-square-o"></span> Validate
  #{/if}
  #{else}
  Validated by ${_assay.reviewer.email}
  #{/else}
  </a>
</p>
#{ifErrors} 
   #{errors}
    <div class="panel panel-danger">
    <div class="panel-body">
    <span class="text-danger">${error}</span>
    </div>
   </div>
  #{/errors}
#{/ifErrors}

#{if flash.success}
    <div class="panel panel-success">
    <div class="panel-body">
    <span class="text-success">${flash.success}</span>
    </div>
   </div>
#{/if}