#{extends 'main.html' /}
#{set title:'ChEMBL Assay Annotator' /}
#{set menu:'home' /}

<div class="page-header">
	<h1>
		<span class="fa fa-flask"></span> ChEMBL Assay Annotator <small>${version}</small>
	</h1>
</div>
<p>Welcome on the curation platform for assay types. Please read carefully the following 
instructions before starting the curation. 
In case of problem contact 
<a href="mailto:croset@ebi.ac.uk?Subject=annotator" target="_top">croset@ebi.ac.uk</a> or report
on the <a href="https://github.com/loopasam/chembl-annotator/issues">GitHub issue tracker of the project</a>.</p>

<h2><span class="fa fa-book"></span> Instructions for beta testing</h2>
<ul>
  <li>The application is still under development, please report all improvement or ideas you can think of.
  Some of them are already listed below (//link).</li>
  <li>The most important thing to consider at this stage is to see whether the rules are making
  sense at all and what can be improved regarding this. New rules? New terms? No validation?
  Should be manually go over them?</li>
  <li>The game mechanism is in place too, but fake annotations are not yet hidden.</li>
  <li>In case you don't like the current themes, please <a href="http://bootswatch.com/">pick of these</a> (scroll a bit) and tell me which one
    you would prefer (as now the app uses <code>Cosmo</code> and <code>Cyborg</code>).</li>
    <li>Icons</li>
  <li>You can start the curation process, work on a few assays and note somewhere your thoughts.</li>
</ul>

<h2><span class="fa fa-trophy"></span> The Rules</h2>
<ul>
  <li></li>
</ul>

<h2><span class="fa fa-thumbs-o-up"></span> Ideas for improvement</h2>
<ul>
  <li>It's under development.</li>
</ul>