#{extends 'main.html' /} #{set title:'Ladder' /} #{set menu:'ladder' /}

<div class="page-header">
	<h1>
		<span class="fa fa-trophy"></span> Ladder
	</h1>
</div>

#{if reviewers.size() > 0 && reviewer.isPlayer}
	<table class="table table-hover">
	<thead>
        <tr>
          <th>Rank</th>
          <th>Curator</th>
          <th class="text-right">Score</th>
        </tr>
      </thead>
		<tbody>
			#{list items:0..reviewers.size()-1, as:'i'}
			<tr>
			    <td>#${i+1} #{if i == 0} <span class="fa fa-trophy"></span> #{/if}</td>
			    <td>${reviewers.get(i).email}</td>
				<td class="text-right">${reviewers.get(i).score} <span class="fa fa-heart"></span></td>
			</tr>
			#{/list}
		</tbody>
	</table>
#{/if}
