#{extends 'main.html' /} #{set title:'Statistics' /} #{set menu:'stats'
/}

<div class="page-header">
	<h1>
		<span class="fa fa-bar-chart-o"></span> Statistics
	</h1>
</div>

<p>Curation progress:</p>

<div class="progress progress-striped active">
  <div class="progress-bar"  role="progressbar" aria-valuenow="${percentcurated}" aria-valuemin="0" aria-valuemax="100" style="width: ${percentcurated}%">
    <span class="sr-only">${percentcurated}% Complete</span>
  </div>
</div>

<div class="panel panel-default">
	<div class="panel-heading">General statistics</div>
	<table class="table table-hover">
		<tbody>
			<tr>
				<td>Number of ChEMBL assays</td>
				<td>${chemblassays}</td>
			</tr>
			<tr>
				<td>Number of annotated ChEMBL assays</td>
				<td>${annotatedchemblassays} (${percentannotated.format('###.##')}% of total)</td>
			</tr>
			<tr>
				<td>Number of curated assays</td>
				<td>${curatedassays} (completion of ${percentcurated.format('###.##')}%)</td>
			</tr>
		</tbody>
	</table>
</div>

#{if contributors.size() > 0}
<div class="panel panel-default">
	<div class="panel-heading">Contributors</div>
	<table class="table table-hover">
		<tbody>
			#{list items:contributors, as:'contributor'}
			<tr>
				<td>${contributor.get("user")}</td>
				<td>${contributor.get("na")}</td>
			</tr>
			#{/list}
		</tbody>
	</table>
</div>
#{/if}
